body{
    background: #34495e;
    margin: 10;
    padding: 10;
    text-align: center;

}


#Titulop{
background: #ecf0f1;
font-family: 'Times New Roman';
text-align: center;
}
.links1 {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: left;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 26px;
    transition: 0.25s;
  }
  u{
    border:0;
    background: #d35400;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 26px;
    transition: 0.25s;

    
  }
